<div class="row">
  <div class="col-sm-12">
    <div class="card shadow my-5 text-center ">
      <div class="card-header ">
        <h1>{{titulo}}</h1>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-stripped  align-middle">
            <caption>{{titulo}}</caption>
            <thead class="table-dark">
              <tr>
                <th *ngFor="let e of encabezadoTabla">{{e}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let reserva of listaReservas">
                <td>{{reserva.id}}</td>
                <td>{{reserva.nombreUsuario}}</td>
                <td>{{reserva.fecha | date:'dd-MM-yyyy'}}</td>
                <td>{{reserva.fecha | date:'hh:mm'}} pm</td>
                <td>{{reserva.horasReservadas}}</td>
                <td>{{reserva.valorPagar | currency}}</td>
                <td>{{reserva.cancha}}</td>
                <td>
                  <div class="btn-group" role="group" aria-label="Opciones reserva">
                    <button class="btn btn-danger" aria-label="Eliminar reserva" (click)="eventoEliminarReserva(reserva)" [id]="'botonEliminarReserva'">
                      Eliminar
                    </button>
                    <a class="btn btn-primary" aria-label="Actualizar reserva" [routerLink]="['/reserva/actualizar',reserva.id]"
                      [id]="'linkActualizarReserva'">Actualizar</a>
                    <button class="btn btn-success" aria-label="Eliminar reserva" (click)="cancelarReserva(reserva)" [id]="'botonCancelarReserva'">
                      Cancelar
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer">
        <a class="btn btn-success my-2" [routerLink]="['/reserva/crear']" id="linkCrearReserva">Agregar</a>
      </div>
    </div>
  </div>
</div>
