<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-10">
      <form [formGroup]="formReserva" (ngSubmit)="actualizarReserva()" id="formCrearReserva">
        <div class="card my-5">
          <div class="card-header text-center">
            <h1>{{titulo}}</h1>
          </div>
          <div class="card-body">

            <div class="row">

              <div class="col-sm-6" [hidden]="true">
                <div class="form-floating mb-3">
                  <input formControlName="id" class="form-control" id="id">
                  <label class="responsive" for="id">ID</label>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-floating mb-3">
                  <input formControlName="nombreUsuario" class="form-control" id="nombreUsuario"
                    [class]="(formReserva.controls.nombreUsuario.valid ? 'form-control is-valid':'form-control is-invalid')">
                  <label class="responsive" for="nombreUsuario">nombre Usuario</label>
                  <div *ngIf="formReserva.controls.nombreUsuario.hasError('required')" class="invalid-feedback">
                    El nombre es requerido
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-floating mb-3">
                  <input formControlName="fecha" type="date" id="fecha"
                    [class]="(formReserva.controls.fecha.valid ? 'form-control is-valid':'form-control is-invalid')"
                    placeholder="Hora de inicio">
                  <label class="responsive" for="fecha">Fecha</label>
                  <div *ngIf="formReserva.controls.fecha.hasError('required')" class="invalid-feedback">
                    La Fecha es requerida
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-floating mb-3">
                  <select formControlName="hora" class="form-select" id="hora"
                    [class]="(formReserva.controls.hora.valid ? 'form-control is-valid':'form-control is-invalid')"
                    aria-label="Seleccionar Hora">
                    <option *ngFor="let hora of horas" [value]="hora">{{hora}}</option>
                  </select>
                  <label class="responsive" for="hora">Hora</label>
                  <div *ngIf="formReserva.controls.hora.hasError('required')" class="invalid-feedback">
                    La Hora es requerida
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-floating mb-3">
                  <input formControlName="horasReservadas" type="number" class="form-control" id="horasReservadas"
                    [class]="(formReserva.controls.horasReservadas.valid ? 'form-control is-valid':'form-control is-invalid')">
                  <label class="responsive" for="horasReservadas">Horas Reservadas</label>
                  <div
                    *ngIf="formReserva.controls.horasReservadas.hasError('required') ||  formReserva.controls.horasReservadas.hasError('min')"
                    class="invalid-feedback">
                    Horas reservadas es requerida
                  </div>

                  <div *ngIf="formReserva.controls.horasReservadas.hasError('max')" class="invalid-feedback">
                    Solo se puede reservar un maximo de {{HORAS_MAXIMAS_A_RESERVAR}} horas
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-floating mb-3">
                  <select formControlName="tipoCancha" class="form-select" id="tipoCancha"
                    [class]="(formReserva.controls.tipoCancha.valid ? 'form-control is-valid':'form-control is-invalid')"
                    (change)="consultarCanchasPorTipo($event.target.value)" aria-label="Seleccionar Tipo Cancha">
                    <option *ngFor="let tp of listaTipoCanchas" [value]="tp.id">{{tp.nombre}}</option>
                  </select>
                  <label class="responsive" for="tipoCancha">Tipo Cancha</label>
                  <div *ngIf="formReserva.controls.tipoCancha.hasError('required')" class="invalid-feedback">
                    El tipo de cancha es requerido
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-floating mb-3">
                  <select formControlName="idCancha" class="form-select" id="idCancha"
                    [class]="(formReserva.controls.idCancha.valid ? 'form-control is-valid':'form-control is-invalid')"
                    aria-label="Seleccionar Cancha">
                    <option *ngFor="let cancha of listaCanchas" [ngValue]="cancha">{{cancha.nombre}}</option>
                  </select>
                  <label class="responsive" for="idCancha">Cancha</label>
                  <div *ngIf="formReserva.controls.tipoCancha.hasError('required')" class="invalid-feedback">
                    El tipo de cancha es requerido
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer text-center" *ngIf="formReserva.valid">
              <button class="btn btn-success" type="submit" aria-label="Crear reserva"> Actualizar</button>
          </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
