<mat-dialog-content class="mat-typography">
  <h2 mat-dialog-title *ngIf="data.id == 0">Registrar</h2>
  <h2 mat-dialog-title *ngIf="data.id != 0">Actualizar</h2>

  <form [formGroup]="formReserva">

    <div [hidden]="true">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Id" formControlName="id">
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Nombre Usuario</mat-label>
      <input matInput placeholder="Nombre Usuario" formControlName="nombreUsuario">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>fecha</mat-label>
      <input matInput type="date" placeholder="Horas Reservadas" formControlName="fecha">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Hora</mat-label>
      <mat-select placeholder="Hora" type="time" appearance="outline" formControlName="hora">
        <mat-option *ngFor="let hora of horas" [value]=" hora">
          {{hora}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Cantidad de Horas</mat-label>
      <input matInput type="number" placeholder="Horas Reservadas" formControlName="horasReservadas">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>tipo Cancha</mat-label>
      <mat-select placeholder="tipoCancha" appearance="outline" (selectionChange)="listaCanchasPorTipo($event.value)"
        formControlName="tipoCancha">
        <mat-option *ngFor="let tc of listaTipoCanchas" [value]="tc.id">
          {{tc.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Cancha</mat-label>
      <mat-select placeholder="Cancha" appearance="outline" formControlName="idCancha">
        <mat-option *ngFor="let c of (listaCanchas$ | async)" [value]="c">
          {{c.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false" (click)="guardar()" [disabled]="formReserva.invalid"
    *ngIf="data.id == 0">Guardar</button>
  <button mat-button [mat-dialog-close]="false" (click)="actualizar()" [disabled]="formReserva.invalid"
    *ngIf="data.id != 0">Actualizar</button>
  <button mat-button [mat-dialog-close]="true">Cancelar</button>
</mat-dialog-actions>
